<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="jumbotron">
            <h1>Registration Details</h1>
            <div class="container" >
                <form method="post" ng-submit="send_data()">
                    First Name: <input class="form-control" type="text" placeholder="Enter First Name" ng-model="form_data.firstname" required 
                    onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"><br>
                    
                    Last Name: <input class="form-control" type="text" placeholder="Enter Last Name" ng-model="form_data.lastname" required 
                    onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"><br>
                    
                    Mobile Number: <input class="form-control" type="text" placeholder="Enter Number" ng-model="form_data.number" required maxlength="10" 
                    onkeypress="return (event.charCode > 47 && event.charCode < 58)">
                   
                </br><center>
                        <button class="btn btn-primary" type="submit"><a href="/show">Submit</a></button>
                    </center>
                </form>
            </div>
        </div>
    </body>
</html>