<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="jumbotron text-centre">
            <div class="container">
                <form method="post" ng-submit="send_data()">
                    First Name: <input type="text" placeholder="Enter First Name" ng-model="form_data.firstname"><br>
                    Last Name: <input type="text" placeholder="Enter Last Name" ng-model="form_data.lastname"><br>
                    Mobile Number: <input type="text" placeholder="Enter Number" ng-model="form_data.number"><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>